* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

/* Link a */

a {
    color: #ffffff;
    text-decoration: none;
}

/******/

/* Start Header */
header {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 10px 0;
}

header a, i {
    color: #ffffff;
    font-size: 1rem;
    padding: 5px 5px;
}

header i {
    background-color: transparent;
}

header a {
    font-weight: bold;
    display: inline-block;
    border-radius: 5px;
    background-color: #4a4a4a;
}

header a:hover {
    -webkit-box-shadow: inset 0px 0px 15px 0px #262626;
    -moz-box-shadow: inset 0px 0px 15px 0px #262626;
    -o-box-shadow: inset 0px 0px 15px 0px #262626;
    box-shadow: inset 0px 0px 15px 0px #262626;
}

header a:first-child {
    margin-right: 5px;
}
/* End Header */

/* Start Main */
main {
    overflow: auto;
    flex-grow: 1;
    padding: 30px;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 250px;
    height: 200px;
    margin: 10px 5px;
    position: relative;
}

.card img {
    width: 100%;
}

.card p, i {
    color: #ffffff;
    font-size: 1rem;
    padding: 5px 5px;
}

.card i {
    background-color: transparent;
}

.card p {
    display: none;
    background-color: rgba(74, 74, 74, 0.50);
    position: absolute;
    bottom: 5px;
    left: 0;
}

.card:hover {
    border: 5px solid rgba(0, 0, 255, 0.40);
    border-radius: 5px;
}

.card:hover p {
    display: inline-block;
    cursor: pointer;
}
/* End Main */

/* Start Footer */
footer {
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    text-align: center;
}

footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

footer ul i {
    font-size: 25px;
}

footer .arrow-small {
    font-size: 10px;
}

footer ul a {
    display: inline-block;
    padding: 5px 5px 10px 5px;
    font-weight: bold;
    padding-right: 15px;
}

footer p {
    padding-top: 5px;
}

.label-green {
    color: #4bc800;
}

footer div:last-child {
    background-color: #4a4a4a;
    cursor: pointer;
    align-self: center;
    margin-right: 20px;
}

footer div:last-child a {
    color: #e51b16;
    display: inline-block;
    padding: 20px;
}
/* End Footer */